<p id="notice"><%= notice %></p>
<%# if @user.present? %>
<%# if current_user.id == @booking.room.user.id %>
<%= link_to 'future bookings', bookings_future_path %> | <%= link_to 'past bookings', bookings_past_path %>
<h2><%= link_to 'unconfirmed bookings', bookings_unconfirmed_path %></h2>
<%# end %>
<%# end %>
<h1>Listing confirmed bookings</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Start date</th>
      <th>End date</th>
      <th>User</th>
      <th>Room</th>
      <th>Amount</th>
      <th>Is confirmed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
    <% if booking.is_confirmed == true %>
      <tr>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_date %></td>
        <td><%= booking.user.user_name %></td>
        <td><%= booking.room.name %></td>
        <td><%= booking.amount %></td>
        <td><%= booking.is_confirmed %></td>
        <td><%= link_to 'Show', booking, class: "btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking), class: "btn btn-info" %></td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Booking', new_booking_path %>
