<p id="notice"><%= notice %></p>

<h1>Listing not confirmed rooms</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Start date</th>
      <th>End date</th>
      <th>User</th>
      <th>Room</th>
      <th>Is confirmed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
    <% if booking.is_confirmed == false %>
      <tr>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_date %></td>
        <td><%= booking.user.user_name %></td>
        <td><%= booking.room.name %></td>
        <td><%= form_for(booking) do |f| %>
          <%= f.check_box :is_confirmed %>
          <%= f.submit "confirm room" %>
          <% end %></td>
        <td><%= link_to 'Show', booking, class: "btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking), class: "btn btn-info" %></td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
