<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :rules %><br>
    <%= f.text_field :rules %>
  </div>
  <div class="field">
    <%= f.label :minimum_days %><br>
    <%= f.text_field :minimum_days %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
    <p id="addressError"></p>
  </div>
  <div class="field">
    <%= f.label :lat %><br>
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :lng %><br>
    <%= f.text_field :lng %>
  </div>
  <% if can? :update, @room %>
  <div class="field">
  <%= f.label :is_authorized %><br>
  <%= f.check_box :is_authorized %>
  </div>  
  <% end %>
 <%= f.fields_for :images, @image do |img| %>
        <%= img.file_field :image %>
    <% end %>

  <div class="field">
  <%= f.label :amenities %><br>
  <%= f.collection_check_boxes :amenity_ids, Amenity.all, :id, :name %>
  </div>
  <div class="field">
  <%= f.label :cities %><br>
  <%= f.collection_select :city_id, City.all, :id, :name, prompt: "select city" %>
  </div>
  <div class="field">
    <%#= f.hidden_field :city_id %>
  </div>
  <div class="field"><br>
    <%= f.hidden_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit "submit", class: "btn btn-primary" %>
  </div>
<% end %>
<script>
 var addressHandle = document.getElementById('room_address')
 var addressErrorHandle = document.getElementById('addressError')
 var latitudeHandle = document.getElementById('room_lat')
 var longitudeHandle = document.getElementById('room_lng')
 

addressHandle.onblur = function(){
   if(addressHandle.value == ""){
     addressErrorHandle.innerHTML = "Can't be blank";
   } else {
     addressErrorHandle.innerHTML = ""; 
     var addressSplit = addressHandle.value.split(" ");
     var addressJoin = addressSplit.join("+");
     console.log(addressJoin);
     var xhr = new XMLHttpRequest();
          xhr.open('GET',"https://maps.googleapis.com/maps/api/geocode/json?address="+addressJoin+"&key=AIzaSyBZEUR89PrVcJnWmRCySjIePLjjmGr_VlQ");
          xhr.onreadystatechange = function(){
           if(xhr.readyState == 4 && xhr.status == 200){
               var response = JSON.parse(xhr.responseText);
                     result = response.results;
                    var latitude = "";
                     var longitude = "";
                 result.forEach(function(res){
                    latitude = res.geometry.location.lat;
                    longitude = res.geometry.location.lng;
                   console.log(latitude);
                   console.log(longitude);
                 });
                 latitudeHandle.value = latitude;
                 longitudeHandle.value = longitude;
             }   
           };      
          xhr.send();
   }
 };

</script>

