<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @room.price %>
</p>

<p>
  <strong>Rules:</strong>
  <%= @room.rules %>
</p>

<p>
  <strong>Minimum days:</strong>
  <%= @room.minimum_days %>
</p>

<p>
  <strong>Address:</strong>
  <%= @room.address %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @room.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @room.lng %>
</p>
<h2>Selected amenities</h2>
<ol>
<% @room.amenities.each do |amenity| %>
  <li><%=  amenity.name %> </li>
<% end %>
</ol>

<p>
  <strong>Is authorized:</strong>
  <%= @room.is_authorized %>
</p>
<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAQ6hKKYYyVNOh4RVkhoVmlc6WKnVtPH0M
    &q=<%= @room.address %>, <%= @room.lat %>, <%= @room.lng %>" allowfullscreen>
</iframe><br>

<% if can? :update, @room %>
<%= link_to 'Edit', edit_room_path(@room) %>
<% end %> |
<%= link_to 'Back', rooms_path %>
