<div class="container-fluid">
<div class="rooms-show">

<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-md-6">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th><%= @room.name %></th>
    </tr>
      <tr>
      <th>Description</th>
      <th><%= @room.description %></th>
    </tr>
      <tr>
      <th>Price</th>
      <th><%= @room.price %></th>
    </tr>
      <tr>
      <th>Rules</th>
      <th><%= @room.rules %></th>
    </tr>
      <tr>
      <th>Minimum Days</th>
      <th><%= @room.minimum_days %></th>
    </tr>
      <tr>
      <th>Address</th>
      <th><%= @room.address %></th>
    </tr>
      <tr>
      <th>Lat</th>
      <th><%= @room.lat %></th>
    </tr>
      <tr>
      <th>Lng</th>
      <th><%= @room.lng %></th>
    </tr>
      <tr>
      <th>User</th>
      <th><%= @room.user.user_name %></th>
    </tr>
  </thead>
</table>

</div>


<div class="col-md-6">
<h2>Selected amenities</h2>
<ol>
<% @room.amenities.each do |amenity| %>
  <li><%=  amenity.name %> </li>
<% end %>
</ol>
<iframe
  width="400"
  height="250"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAQ6hKKYYyVNOh4RVkhoVmlc6WKnVtPH0M
    &q=<%= @room.address %>, <%= @room.lat %>, <%= @room.lng %>" allowfullscreen>
</iframe><br>

</div>
</div>
<P>
<strong>image:</strong>
<% @room.images.each do |img| %>
    <%=image_tag img.image %>
  <% end %>
</P>


<% if user_signed_in? %>
<h3> Booking </h3>
  <%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.text_field :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.text_field :end_date %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>
  <div class="field">
    <%= f.hidden_field :room_id, value: @room.id %>
  </div>
  
  <div class="actions">
   <%= f.submit "Submit", id: "submit" , data: { disable_with: "Please wait..."} %>
<% end %>

  <% end %>


 <h4>Reviews:(<%= @room.reviews.length %>)</h4> 
 
 <ol>
    <% @room.reviews.each do |review| %>
     <li>  
           <%= review.user.first_name %> given average rating <%= '*' * ((review.food_rating+review.cleanliness_rating+review.safety_rating+review.facility_rating+review.locality_rating)/5) %>  <br/>
           <%= review.review %>  <br/>

            <% if user_signed_in? %>
                   <% if review.user_id == current_user.id %>
                           <%= link_to "Destroy", review, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>   

      </li>
              <% end %>   
      <% end %>
  </ol>

  <% if user_signed_in? %>
<h2> Add Review</h2>

<%= form_for @review do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>
      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :food_rating %><br/>
    <%= f.radio_button :food_rating,1 %> 1
    <%= f.radio_button :food_rating,2 %> 2
    <%= f.radio_button :food_rating,3 %> 3
    <%= f.radio_button :food_rating,4 %> 4
    <%= f.radio_button :food_rating,5 %> 5
    <br/>
    <%= f.label :cleanliness_rating %><br/>
    <%= f.radio_button :cleanliness_rating,1 %> 1
    <%= f.radio_button :cleanliness_rating,2 %> 2
    <%= f.radio_button :cleanliness_rating,3 %> 3
    <%= f.radio_button :cleanliness_rating,4 %> 4
    <%= f.radio_button :cleanliness_rating,5 %> 5
    <br/>
    <%= f.label :safety_rating %><br/>
    <%= f.radio_button :safety_rating,1 %> 1
    <%= f.radio_button :safety_rating,2 %> 2
    <%= f.radio_button :safety_rating,3 %> 3
    <%= f.radio_button :safety_rating,4 %> 4
    <%= f.radio_button :safety_rating,5 %> 5
    <br/>
    <%= f.label :facility_rating %><br/>
    <%= f.radio_button :facility_rating,1 %> 1
    <%= f.radio_button :facility_rating,2 %> 2
    <%= f.radio_button :facility_rating,3 %> 3
    <%= f.radio_button :facility_rating,4 %> 4
    <%= f.radio_button :facility_rating,5 %> 5
    <br/>
    <%= f.label :locality_rating %><br/>
    <%= f.radio_button :locality_rating,1 %> 1
    <%= f.radio_button :locality_rating,2 %> 2
    <%= f.radio_button :locality_rating,3 %> 3
    <%= f.radio_button :locality_rating,4 %> 4
    <%= f.radio_button :locality_rating,5 %> 5 <br/>
    <%= f.label :review %><br/>
    <%= f.text_field :review %><br/>
    <%= f.hidden_field :room_id,value: @room.id %><br/>
    <%#= f.hidden_field :user_id,value: current_user.id %>
<%= f.submit %>

<% end %><br/>
<% end %>
</div>
<% if can? :update, @room %>
<%= link_to 'Edit', edit_room_path(@room) %>
<% end %> |
<%= link_to 'Back', rooms_path %>
</div>
<script>
  var date_end;
  $( function() {

    var today = new Date();
    var dd = today.getDate();

    $( "#booking_start_date" ).datepicker({minDate: 3,
      dateFormat: 'yy-mm-dd'
      // minDate: 0

    });

    // $('#booking_start_date').datepicker()
    //     .on("input change", function (e) {
    //     var datex = $("booking_start_date").datepicker("getDate");
    //     console.log(datex);
    // });



    $('#booking_start_date').change(function () {
        date = $('#booking_start_date').val();
        console.log(date);
        date2 = new Date(date);
        console.log(date2.getDate());
        date_end = date2.getDate() - 8;
        console.log(date_end);
    });

    // console.log(date_end);

    $('#booking_start_date').change(function () {
      $( "#booking_end_date" ).datepicker({minDate: date_end,
        dateFormat: 'yy-mm-dd'

        // minDate: 0
      });
    });
  });


    var flag = {
      startdate: false, 
      enddate: false
    } 
      var startDateHandle = document.getElementById('booking_start_date');
      var endDateHandle = document.getElementById('booking_end_date')
      var submitHandle = document.getElementById('submit');
      submitHandle.disabled = true;

      startDateHandle.onchange = function(){
        if(startDateHandle.value != ""){
          flag.startdate = true;
          showSubmitBtn(flag);
        }
      }

      endDateHandle.onchange = function(){
        if(endDateHandle.value != ""){
          flag.enddate = true;
          showSubmitBtn(flag);
        }
      }

      function showSubmitBtn(flag){
        var innerFlag = 0;
        for(var key in flag){
          if(flag[key] == false){
            innerFlag = false;
          } else {
           innerFlag += 1;
          }
        }
        if(innerFlag === 2){
          submitHandle.disabled = false;
        }else {
          submitHandle.disabled = true;
        }
      }

  </script>

