<!DOCTYPE html>
<html>
<head>
  <title>Rentaroom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
<% if user_signed_in? %>
Welcome <%= current_user.first_name %>
		<%= link_to "Account Setting",edit_user_registration_path %>
<%= link_to "sign out", destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "sign in", new_user_session_path %> | <%= link_to "sign up", new_user_registration_path %> |
<% end %>
<%= link_to "cities", cities_path %> | <%= link_to "amenities", amenities_path %> | <%= link_to "rooms", rooms_path %> | <%= link_to "images", images_path %>
<%= yield %>

</body>
</html>
